<!-- Footer -->
<footer class="pageFoot">
  <div class="centerWidth">
     <address>
      <ul>
        <li><a href="mailto:mborn319@outlook.com">mborn319@outlook.com</a></li>
        <li><a href="https://github.com/mborn319" target="_blank"><i class="fa fa-github"></i> mborn319</a></li>
        <li><a href="https://twitter.com/mborn319" target="_blank"><i class="fa fa-twitter"></i> mborn319</a></li>
      </ul>
    </address>
    {{ widgets('footer') }}
  </div><!--/.centerWidth-->

  <div class="copyright">
  <p>
    <small>
      &copy; Michael Born 2016-2017.
      {{ __("<a href='%url%' target='_blank' title='Sophisticated, lightweight & simple CMS'>Built with Bolt</a>.",{'%url%':'http://bolt.cm'}) }}
    </small>
  </p>
  </div>

</footer>
