<!-- Footer -->
<footer class="pageFoot">
  <div class="centerWidth">
     <address>
      <ul>
        <li><a href="mailto:mborn319@outlook.com">mborn319@outlook.com</a></li>
        <li><a href="https://github.com/mborn319" target="_blank"><i class="fa fa-github"></i> mborn319</a></li>
        <li><a href="https://twitter.com/mborn319" target="_blank"><i class="fa fa-twitter"></i> mborn319</a></li>
      </ul>
    </address>
    {{ widgets('footer') }}
  </div><!--/.centerWidth-->

  {{ include('partials/_copyright.twig') }}

</footer>
