<!-- Footer -->
<footer class="pageFoot">
  <div class="centerWidth">
    
    <div class="gridcol edges">
      <div class="pageFoot__form col-8">
        {{ boltforms('contact') }}
      </div>

      {% setcontent footer = 'blocks/footer' %}
      <div class="pageFoot__text col-4">
        {{ footer.content }}
      </div>
    </div><!--/.gridcol-->

    {{ widgets('footer') }}
  </div><!--/.centerWidth-->

  {{ include('partials/_copyright.twig') }}

</footer>
