{% setcontent footer = 'blocks/footer' %}

<!-- Footer -->
<footer class="pageFoot">
  <div class="centerWidth">
    
    <div class="gridcol edges">
      <div class="pageFoot__form col-12 col-md-8">
        {{ boltforms('contact') }}
      </div>

      <div class="pageFoot__text col-12 col-md-4">
        {% block footer_text %}
          {{ footer.content }}
        {% endblock footer_text %}
      </div>
    </div><!--/.gridcol-->

    {{ widgets('footer') }}
  </div><!--/.centerWidth-->

  {% block footer_copyright %}
    {{ include('partials/_copyright.twig') }}
  {% endblock footer_copyright %}

</footer>
