<nav class="nav clearfix">
  <div class="centerWidth">
      <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="social"><a href="https://github.com/mborn319" target="_blank"><i class="fa fa-github"></i> <span class="username">mborn319</span></a></li>
          <li class="social"><a href="https://twitter.com/mborn319" target="_blank"><i class="fa fa-twitter"></i> <span class="username">mborn319</span></a></li>
      </ul>
  </div>
</nav>
